
html {
    --base-color: white;
    --important-color: orange;
    --warning-color:yellow;
    --principal-font: sans-serif;
    --secondary-font: monospace;
    --box-font-family:system-ui;
}

div{
    padding: 16px;  
}

.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;   
    font-family: var(--box-font-family);
    font-weight: bold;
}

.filled-box{
    background-color: var(--base-color);    
    
}

.important{
    background-color: var(--important-color);
}

.warning{
    background-color: var(--warning-color);
}


.principal{
    font-family: var(--principal-font);
}

.secondary{
    font-family: var(--secondary-font);
}

.shadow-box{
    box-shadow: var(--box-shadow);
}