@import url("base.css");

html {
    --base-color: red;
    --important-color: darkred;
    --warning-color:pink;

    --principal-font: sans-serif;
    --secondary-font: system-ui;

    --box-shadow: -10px 5px 5px grey;


}


