
html{
--primary-color: lightgreen;
--primary-font-family: "Montserrat", sans-serif;
--primary-font-weight: 300;
--primary-font-optical-sizing: auto;
--primary-font-style: normal;   

}


body {    
    margin: 0;
    padding: 0;  

    font-family: var(--primary-font-family);
    font-weight: var(--primary-font-weight);
    font-optical-sizing: var(--primary-font-optical-sizing);
    font-style: var(--primary-font-style);
}

.card {

    padding: 16px;
    display: inline-grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 450px 450px 50px;
    flex: 1;

    grid-template-areas: 
        "imagen imagen"
        "contenido contenido"
        "more-info more-info"
    ;

    justify-items: stretch;
    justify-content: left;
    align-content: start;
    overflow: hidden;


   

}

.card-image {
    grid-area: imagen;
    
    width: 300px;   
    height:450px;

    
}

.card-content  {
    grid-area: contenido;
    width: 300px;   
    height:450px;
    overflow: hidden;
}

.card-more-info { 
    grid-area: more-info;
    width: 300px;   
    height:30px;
}

.card-button {
   background-color: var(--primary-color);
   border: 1px lightgreen;
}
