body {

    margin: 0px;
    padding: 0px;
    
}

.menu{
    margin: 0px;    
    padding: 0px;
    display: flex; 
    flex-direction: row; 
    background-color: cadetblue;
    justify-content: space-between;
    align-content: center;
    align-items: center; 

  
   
    
}

.menu-item {
    padding: 16px;
    height: 30px;
    display: block;
    color: white;   
    flex: 1;
    
}

.menu-item:hover {
    background-color:darkslategray;

}

@media screen and (max-width:320px){

    body {
        padding-left: 16px;
    }
    
    .menu {
         flex-direction: column; 
        
    }
    .menu-item {
       
        text-align: center;
    }

    
}

@media screen and (320px < width){

   
    .menu {
        flex-direction: row; 
       
   }
    .menu-item {
        text-align: left;
    }

    
}



