$num-color-palettes: 3;
$num-color-tones: 9;

$color-palette-1: darkturquoise;
$color-palette-2: olive;
$color-palette-3: darkmagenta ;

$primary-text-color: black;

@mixin color-palette-style{
    display: grid;    
    grid-template-columns: repeat($num-color-tones, 100px);
    grid-template-rows: 150px;
    
    column-gap: 16px;
    padding-top: 16px;   

    div {        
        align-content: center;
        text-align: center;
        border-radius: 5px;
        color: $primary-text-color;
        
    }   
}


@function gradual-color($color, $amount) {
    @return (adjust-color($color: $color, $hue: 0, $saturation: 0%, $lightness: $amount, $alpha: 1.0));
    //color: adjust-color($color: $primary-text-color, $hue: -200, $saturation: 50%, $lightness: 0%, $alpha: 0.5);
}


