@use "base" as *;


.container-1 div {
    background-color: $color-palette-1;     
}

.container-2 div {
    background-color: $color-palette-2;
}

.container-3 div {
    background-color: $color-palette-3;
}

$i: 1;

@for $i from 1 through $num-color-palettes {
    .container-#{$i} {
        @include color-palette;

        $j: 1;
        @while $j <=$num-color-tones {
            :nth-child(#{$j}) {
                background-color: gradual-color($color-palette-#{$i} , $j*4);
            }

            $j: $j + 1;
        }   
    }
}



